<h2 class="textalign-center mv-15">Algumas das tecnologias utilizadas</h2>
<p class="textalign-center mv-15">
    Uma demonstração das tecnologias, como são extensas existem diversas outras que não estão citadas aqui como docker,
    husk, git e por
    ae vai...
</p>

<image-manager [images]=sites icon="true"></image-manager>
