<h2 class="textalign-center mv-15">Portifólio</h2>
<p>
    Recentemente andei me aventurando em novas tecnologias, gosto muito de jogos, já havia desenvolvido alguns jogos em
    javascript puro, como objeto de estudo, após estudar C# decidi implementar em algo mais dinâmico, cheio de desafios!
</p>
<p>
    Podendo aplicar diversos patterns como padrão state, para controlar o estado de um objeto de jogo, ou strategy para
    compor objetos de maneira dinâmica,
    transformou-se em um maravilhoso desafio de criação, além das inúmeras ferramentas, componentes e estrutura da
    própria
    unity.
</p>

<h2 class="mv-15">Jogo desenvolvido utilizando Unity com C#</h2>
<br>
<iframe frameborder="0" src="https://itch.io/embed/956238" width="552" height="167"><a
        href="https://williamdoliveira.itch.io/love-man">Love Man by williamdoliveira</a></iframe>
