<h2 class="textalign-center mv-15">Portifólio</h2>
<p>
    A comunidade de TI é muito unida, trocamos constantemente grande volume de informação,
    é natural que durante o caminho do programador ele
    absorva muito desse conhecimento, e também durante o processo surge, o desejo de contribuir
</p>
<p>
    No entanto, também é natural que isso se torne um tanto complicado, porque com o conhecimento, vem um maior volume
    de trabalho,
    mais realizações, mais cobranças, mais responsabilidade, isso torna o tempo ainda mais escasso.
</p>
<p>
    Nesse desejo de contribuir construí algumas bibliotecas e ferramentas, para retornar um pouco a comunidade,
    muitas delas foram construídas durante os anos de aprendizado, e em algum momento serão refatoradas, já que o
    processo de melhoria, é sempre contínuo.
</p>

<h2 class="mv-15">
    QuizzJs Lib
</h2>
<a href="https://github.com/WilliamDOliveira/QuizzJs" target="_blank">https://github.com/WilliamDOliveira/QuizzJs</a>
<p class="mv-15">Exemplos</p>
<a href="https://williamdoliveira.github.io/QuizzJs/quizz_ex1.html" target="_blank">Exemplo 1 - mostra certo e
    errado</a><br />
<a href="https://williamdoliveira.github.io/QuizzJs/quizz_ex2.html" target="_blank">Exemplo 2 - não pode mudar resposta,
    após escolha</a><br />
<a href="https://williamdoliveira.github.io/QuizzJs/quizz_ex3.html" target="_blank">Exemplo 3 - slider</a><br />
<a href="https://williamdoliveira.github.io/QuizzJs/quizz_ex4.html" target="_blank">Exemplo 4 - mais opções de
    configuração</a><br />

<hr>

<h2 class="mv-15">
    Paleta de cores
</h2>
<p>
    Necessário pegar o link no repositorio, e adicionar os detalhes aqui
</p>

<hr>
<h2 class="mv-15">
    Slider
</h2>
<p>
    Necessário pegar o link no repositorio, e adicionar os detalhes aqui
</p>
