@import "../utils";
:host {
    #wrapper-content {
        display: flex;
        @extend .full-size__height;
        & .content {
            @extend .wrapper_default;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}
