<h1>William D. Oliveira</h1>
<h2 class="mv-15">
    Desenvolvedor sênior
</h2>

<p>Sou desenvolvedor full stack a mais de 8 anos, atuante principalmente na área de front-end.</p>
<p>Possuo inúmeros projetos realizados, no entanto, muitos são privados, possuem sigilos de empresa não estarão listados
    aqui.</p>
<p>Já desenvolvi chatbot, gerador de relatórios customizados, que geram relatórios em pdf ao final.</p>
<p>Sistema para controle investimentos, gráficos, relatórios, envios de email, em laravel se comunicando com api em
    python.</p>
<p>
    Diversos sistemas em angular, cruds, geradores, gráficos, validadores, formulários etc;
</p>
<p>
    Aplicativos ionic para controle de finanças, criptomoedas, gerenciamento de reuniões, calendários etc;
</p>
<p>
    Centenas de algoritmos em javascript vanilla, gosto muito do stack js, cada vez mais flexível.
</p>
<p>
    2019 para 2020 desenvolvi um framework em js para um cliente em sp, que está utilizando em um projeto do governo.
</p>
<p>
    Esse projeto conta com inúmeras ferramentas cm CI/CD, testes unitarios, storybook, git flow, husk, lints e muitas
    outras boas práticas
    como dry, patterns, e outras metodologias que tornaram a aplicação sólida para um uso customizado, performático,
    componentizado e atendendo a uma demanda massiva.
</p>
<br>
<h2 class="mv-15">
    LinkedIn
</h2>
<a href="https://www.linkedin.com/in/william-oliveira-developer/"
    target="_blank">https://www.linkedin.com/in/william-oliveira-developer/</a>
