<nav class="menu">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a>Portifólio</a></li>
        <li><a routerLink="/apps" routerLinkActive="active">Aplicativos</a></li>
        <li><a routerLink="/sites" routerLinkActive="active">Sites</a></li>
        <li><a routerLink="/library" routerLinkActive="active">Bibliotecas/Ferramentas</a></li>
        <li><a routerLink="/game" routerLinkActive="active">Criação de jogos</a></li>
        <li><a routerLink="/technologies" routerLinkActive="active">Algumas tecnologias</a></li>
    </ul>
</nav>
