@import "../../../utils";
:host {
    width: 300px;
    background-color: #161616;
    color: #fff;
    @extend .wrapper_column;
    a {
        color: white;
        text-decoration: none;
    }
    nav {
        ul {
            li {
                height: 50px;
                display: flex;
                a {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    outline: none;
                    &:hover {
                        background-color: #2b2b2b;
                    }
                }
                &:nth-of-type(2) {
                    & a:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
