<div class="wrapper__panel" *ngIf="!icon">
    <div *ngFor="let img of images" class="wrapper__item">
        <h2 *ngIf="img.title" [innerHTML]="img.title"></h2>
        <p [innerHTML]="img.description"></p>
        <div class="wrapper__image" [style.backgroundImage]="'url(/assets/' + img.src + ')'"></div>
        <small *ngIf="img.footer" [innerHTML]="img.footer"></small>
    </div>
</div>

<div class="wrapper__icon" *ngIf="icon">
    <div *ngFor="let img of images" class="wrapper__icon--item">
        <div class="wrapper__icon--image" [style.backgroundImage]="'url(/assets/' + img.src + ')'"></div>
        <p *ngIf="img.description" [innerHTML]="img.description" class="mv-15"></p>
    </div>
</div>
