@import "../../../utils.scss";

.wrapper {
    &__panel {
        h2 {
            margin-bottom: 15px;
            font-weight: bold;
        }
    }
    &__item {
        margin-bottom: 40px;
    }
    &__image {
        width: 100%;
        height: 500px;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.wrapper__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &--item {
        width: 300px;
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
    }
    &--image {
        height: 250px;
        max-width: 100%;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
