/* You can add global styles to this file, and also import other style files */

// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@100;300&display=swap");
// reset.scss
@import "reset";

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Open Sans", sans-serif;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
small,
a,
p {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    letter-spacing: 0.08rem;
    line-height: 1.6rem;
}
.menu {
    a,
    p {
        font-family: "Open Sans", sans-serif;
    }
}
p {
    margin-bottom: 1rem;
}
small {
    font-size: 0.9rem;
}
// Directives
*[mb] {
    margin-bottom: 1.4rem;
}
