/**
 * Custom Style
 */
.border-box {
    box-sizing: border-box;
}
.full-size__height {
    height: 100vh;
    @extend .border-box;
}
.full__width {
    width: 100%;
    @extend .border-box;
}
.pad {
    padding: 15px;
}
// Wrappers
.wrapper {
    &_default {
        @extend .full-size__height;
        @extend .full__width;
        @extend .border-box;
        @extend .pad;
    }
    &_column {
        @extend .full-size__height;
        @extend .border-box;
        @extend .pad;
    }
}
// aligns
.textalign-center {
    text-align: center;
}
// margins
.mv-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
